:root {
  --primaryColor: #00ff38;
  --lightColor: #fff;
  --darkColor: #000;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--lightColor);
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--darkColor);
}
